@charset "utf-8"; 

/* Give the body a width */
body {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

h2 {
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #C06;
	text-align: left;
}

ul {
	text-align: left
}